# folders
/.idea
/tests

# source
**/*.ts
*.ts
*.js.map

# definitions
!**/*.d.ts
!*.d.ts

# configuration
gulpfile.js
.editorconfig
.prettierrc
.eslintrc.js
tslint.json
tsconfig.json
package-lock.json
jest.config.json
